@using Web.Models.ContentModels
@inherits Umbraco.Web.Mvc.UmbracoViewPage<HomePage>
@{
    Layout = "Layout.cshtml";
}
<section class="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h2 class="h3">@Model.IntroductionHeader</h2>
                <p class="text-big">
                    @Model.Introduction
                </p>
            </div>
        </div>
    </div>
</section>
@{ Html.RenderAction("RenderLatestPosts", "SharedSurface");}
